img{
	width: 100%;
	height: 150px;
}
a{
	color: #000;
}
.goods{
	height: 300px;
}
.goods-name{
	color: #000;
	font-size: 20px;
}
.goods-name:hover{
	color: #000;
}
.goodsInfo{
	margin-top: 10px;
}
.goodsPrice>span{
	font-size: 32px;
}
.goodsOperate{
	margin-top: 10px;
}